---
layout: master
title: Home
description: Welcome to My Page!
---

<div class="container">

	<header class="row">
	  <div class="col-sm-6 col-md-6 col-md-offset-2" style="margin-top:25px;margin-bottom:25px">
	    <h1 id="pin">{{site.title}}</h1>
	    <p class="title" style="color: white; font-size:20px">Mechanical Engineer turned Web Developer.</p>
	    <h2 id=""
	  </div>
	</header>
	<nav class="center">
		<div class="row" style="margin-top:25px">
 			<div class="col-md-4 col-sm-6 col-xs-12">

				<a href="about/">
					<div class="tile mainblue profile bord">
						<h2 class="title">About Me</h2>
						<p>Hi there, thanks for dropping by.

							This is Gai Vien’s website about programming, coding, related articles and interesting life events…</p>
					</div>
				</a>

		    </div>

		    <!-- Resume Tile -->
			<div class="col-md-2 col-sm-3 col-xs-6">
				<a href="resume/" title="Resume" class="tile red bord icon-resume"></a>
			</div>
			<!-- Project Tile -->
			<div class="col-md-2 col-sm-3 col-xs-6">
				<div class="live-tile" data-mode="flip" data-delay="4000">
					<div>
						<a href="project/" title="Project" class="tile green bord icon-project"></a>
					</div>
					<div>
						<a href="project/" title="Project" class="tile green bord font-fix">
						<p>Project Section</p>
							<ol>
								<li>Project 1</li>
								<li>Project 2</li>
							</ol>
						</a>
					</div>
				</div>
			</div>
		</div>

		<div class="row">

			<div class="col-md-4 col-sm-6 col-xs-12">
				{% for post in site.posts offset:1 limit:1 %}
				<a href="{{post.url}}">
					<div class="tile green bord">
						<h3 class="title">Recent Article</h3>
						<h4 class="title">{{ post.title }}</h4>
						<p> {{ post.content | strip_html | truncatewords: 10 }}</p>
					</div>
				</a>
				{% endfor %}
			</div>

			<div class="col-md-4 col-sm-6 col-xs-12">
				{% for post in site.posts limit:1 %}
				<a href="{{post.url}}">
					<div class="tile red bord">
						<h3 class="title">Latest Article</h3>
						<h4 class="title">{{ post.title }}</h4>
						<p> {{ post.content | strip_html | truncatewords: 10 }}</p>
					</div>
				</a>
				{% endfor %}
			</div>

			<div class="col-md-4 col-sm-6 col-xs-12">
				{% for post in site.posts %}
					{% if post.featured == true %}
					<a href="{{post.url}}">
						<div class="tile orange bord">
							<h3 class="title">Featured Article</h3>
							<h4 class="title">{{ post.title }}</h4>
							<p> {{ post.content | strip_html | truncatewords: 10 }}</p>
						</div>
					</a>
					{% break %}
					{% endif %}
				{% endfor %}
			</div>
		</div>

		<!-- Big Tile -->
		<!-- This is Twitter and LinkedIn Combined Tile -->
<!-- 		<div class="row" style="margin-bottom:25px">
			<div data-delay="2000" data-mode="flip" class="live-tile flip ha fix-3">
			<div class="col-md-2 col-sm-3 col-xs-6 flip-front ha" style="transform: rotateX(180deg); transition: all 500ms ease 0s;">
				<a class="tile blue bord lk-ico" href="https://www.linkedin.com/pub/gai-vien/38/122/ba8"></a>
			</div>

			<div class="col-md-2 col-sm-3 col-xs-6 flip-back ha" style="transform: rotateX(360deg); transition: all 500ms ease 0s;">
				<a class="tile blue bord tw-ico" href="https://twitter.com/gaivien"></a>
			</div>
		</div>
 -->
 		<!-- Big tile below -->
 		<!-- Twitter Icon -->
 		<!-- row css is under bootstrap.css -->
 		<div class="row" style="margin-bottom:25px">
			<div class="col-md-2 col-sm-3 col-xs-6">
				<a href="{{site.twitter}}"  class="tile blue bord tw-ico"></a>
			</div>

			<!-- LinkedIN -->
			<div class="col-md-2 col-sm-3 col-xs-6">
				<a href="{{site.linkedin}}"  class="tile darkblue bord lk-ico"></a>
			</div>

			<!-- github -->
			<div class="col-md-2 col-sm-3 col-xs-6">
				<a href="{{site.github}}"  class="tile black bord gh-ico"></a>
			</div>
<!-- FB ICON -->
<!-- 			<div class="col-md-2 col-sm-3 col-xs-6">
				<a href="{{site.facebook}}" class="tile blue bord fk-ico"></a>
			</div>
 -->
 			<!-- RSS feed -->
			<div class="col-md-2 col-sm-3 col-xs-6">
				<a href="feed.xml" class="tile purple bord rs-ico"></a>
			</div>
		</div>
<!-- 			<div class="col-md-2 col-sm-3 col-xs-6">
				<a href="{{site.gplus}}" class="tile orange bord gl-ico"></a>
			</div> -->
<script>/* temporary comment all, delete this to go back to it
			<!-- Mini tile disabled  original: "col-md-2 col-sm-3 col-xs-6 rside"-->
			<div class="col-md-2 col-sm-3 col-xs-6"><!--original: class="col-md-2 col-sm-3 col-xs-6 rside"-->
				<div class="row" style="display: inline-block; position: relative">
					<div style="padding-left:0px" class="col-md-6 col-sm-6 col-xs-6"><!--original: class="col-md-6 col-sm-6 col-xs-6"-->
					    <a href="{{site.github}}" class="mtile black bord gh-ico-sm"></a>
					</div>
					<div style="padding-left:0px" class="col-md-6 col-sm-6 col-xs-6">
						<a href="{{site.linkedin}}"  class="mtile darkblue bord lk-ico-sm"></a>
					</div>
				<!-- </div> -->
				<!-- <div class="row"> -->
					<div style="padding-left:0px" class="col-md-6 col-sm-6 col-xs-6"><!--original: class="col-md-6 col-sm-6 col-xs-6 rep-1"-->
						<a href="{{site.twitter}}" class="mtile blue bord tw-ico-sm"></a>
					</div>
					<div style="padding-left:0px" class="col-md-6 col-sm-6 col-xs-6"><!--original: class="col-md-6 col-sm-6 col-xs-6 rep-2"-->
						<a href="feed.xml" class="mtile purple bord rs-ico-sm"></a>
					</div>
				<!-- </div> -->
				</div>
			</div> <!-- End of Mini tile -->*/</script>
		</div>
	</nav>
</div>
