/*、Scroll-up-button*/
.scrollToTop{
    width:48px;
    height:48px;
    text-decoration: none;
    position:fixed;
    top:500px;
    right:20px;
    display:none;
    background: url('/assets/images/scroll-up.png') no-repeat 0px 0px;
}
.scrollToTop:hover{
    text-decoration:none;
}
/*Default*/
.justified {
    text-align: justify;
}

.publish-tag {
    font-variant: small-caps;
    color: #aaa;
    padding-bottom: 10px;
}

.image-center {
    margin: 0 auto;
}

@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 0px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding-right: 0;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  }
}


.container > header {
	color: #2672EC;
}


.tile {
	width: 100%;
	display: inline-block;
	box-sizing: border-box;
	background: #fff;
	padding: 20px;
	margin-bottom: 30px;
	height: 160px;
}

.tile > .title {
  margin-top: 0px;
}

.purple, .blue, .red, .orange, .green, .mainblue {
    color: #fff;
}

.purple {
    background: #5133AB;
}

.red {
    background: #AC193D;
}

.green {
    background: #00A600;
}

.blue {
    background: #007fff;
}

.orange {
    background: #DC572E;
}

/*linkedcolor*/
.darkblue {
    background: #0077B5;
}

/*github color*/
.black {
    background: #000000;
}

/*additional color*/
.mainblue {
    background: #466DFF;
}

.left-nav {
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
    margin-left: -30px;
}

.left-nav-item {
    font-size: 18px;
    text-indent: 100px;
    line-height: 50px;
}

.left-nav-item a{
    display: block;
    text-decoration: none;
    color:#fff;
}

/*背景对比色*/
.purple .left-nav-item a:hover{
    text-decoration: none;
    color: #fff;
    background: #4D2488;
}
.red .left-nav-item a:hover{
    text-decoration: none;
    color: #fff;
    background: #8B162B;
}
.green .left-nav-item a:hover{
    text-decoration: none;
    color: #fff;
    background: #007700;
}
.blue .left-nav-item a:hover{
    text-decoration: none;
    color: #fff;
    background: #0062C4;
}
.orange .left-nav-item a:hover{
    text-decoration: none;
    color: #fff;
    background: #C53E10;
}

.purple .left-nav-selected {
  background: #4D2488;
}

.red .left-nav-selected {
  background: #8B162B;
}

.green .left-nav-selected {
    background: #007700;
}
.blue .left-nav-selected {
    background: #0062C4;
}
.orange .left-nav-selected {
    background: #C53E10;
}

.alink {
    font-size: 18px;
}

.tags {
  text-align: justify;
}

li.purple > a,
li.purple > a:hover,
li.purple > a:focus {
    color: #fff;
    background: #5133AB;
    text-decoration: none;
}

li.blue > a,
li.blue > a:hover,
li.blue > a:focus {
    color: #fff;
    background: #007fff;
    text-decoration: none;
}

li.red > a,
li.red > a:hover,
li.red > a:focus {
    color: #fff;
    background: #AC193D;
    text-decoration: none;
}

li.orange > a,
li.orange > a:hover,
li.orange > a:focus {
    color: #fff;
    background: #DC572E;
    text-decoration: none;
}

li.green > a,
li.green > a:hover,
li.green > a:focus {
    color: #fff;
    background: #00A600;
    text-decoration: none;
}

.btn-purple {
    color: #fff;
    background: #5133AB;
}

.btn-blue {
    color: #fff;
    background: #007fff;
}

.btn-red {
    color: #fff;
    background: #AC193D;
}

.btn-orange {
    color: #fff;
    background: #DC572E;
}

.btn-green {
    color: #fff;
    background: #00A600;
}

a.purple-link,
a.purple-link:hover,
a.purple-link:focus{
    color: #5133AB;
}

a.red-link,
a.red-link:hover,
a.red-link:focus {
    color: #AC193D;
}

a.green-link,
a.green-link:hover,
a.green-link:focus {
    color: #00A600;
}

a.blue-link,
a.blue-link:hover,
a.blue-link:focus {
    color: #007fff;
}

a.orange-link,
a.orange-link:hover,
a.orange-link:focus {
    color: #DC572E;
}

.icon {
    background-image: url("../images/icon.png");
    background-repeat: no-repeat;
    list-style: none outside none;
}

.icon-back{background-position:-966px -40px ; width: 48px ; height: 48px;display:inline-block;text-decoration:none}

/*http://fortawesome.github.io/Font-Awesome/icons/*/
/* for more icons */
/* Services Styles */
/*#services{
    box-shadow: 0 0 50px rgba(0,0,0,0.5);
}*/

.service-item{
    text-align:center;
}

.service-item h3{
    margin-bottom:10px;
}

.service-icon{
    position:relative;
    display:block;
    text-align:center;
    width:100px;
    height:100px;
    margin:20px auto 50px;
    border-radius:50%;
    font-size:62px;
    line-height:100px;
    background:#334959;
    color:#fff;
    -webkit-transition:all 0.2s ease-out;
    transition:all 0.2s ease-out;
}

.service-icon:after {
    pointer-events:none;
    content:"";
    position:absolute;
    display:block;
    width:120px;
    height:120px;
    top:-10px;
    left:-10px;
    border:3px solid #334959;
    border-radius:50%;
    -webkit-transition:all 0.2s ease-out;
    transition:all 0.2s ease-out;
}

.no-csstransforms .service-icon:after{
    display:none;
}

.service-icon:focus,
.service-icon:active{
    color:#fff;
}

.service-icon [class*=fa]{
    -webkit-transform:scale(1);
    transform:rotate(0);
    -webkit-transition:all 0.3s ease-out;
    transition:none;
}

.service-item:hover [class*=fa]{
    -webkit-transform:scale(1.3);
    transform:rotate(360deg);
    -webkit-transition:all 0.5s ease-out;
    transition:all 0.5s ease-out;
}

.service-item p{
    margin: auto;
    max-width: 250px;
}

/* Services Colors */

.color1 .service-icon,
.color1.service-item ul li:nth-child(2):before{
    background:#00A600;
}

.color1 .service-icon:after{
    border:3px solid #00A600;
}

.color2 .service-icon,
.color2.service-item ul li:nth-child(2):before{
    background:#F58026;
}

.color2 .service-icon:after{
    border:3px solid #F58026;
}

.color3 .service-icon,
.color3.service-item ul li:nth-child(2):before{
    background:#0077B5;
}

.color3 .service-icon:after{
    border:3px solid #0077B5;
}

/* project style */
.app-img-resize {
    max-width: 80%;
    margin-left: 50px;
}

.resize {
    max-width: 100%;
}

.title-reduced-size {
    font-size: .35em;
}

.project-divider {
    border-width: 2px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.header-title {
    text-decoration: underline;
}

.chariteer {
    color: #EC725A;
}

.center-team {
    text-align: center
}