body {
	background-color: #D7E3E3;
}

.name {
	font-size: 30px;
}

.middle {
	height: 100%;
	/*margin-left: 100px;*/
}

.common {
	border-radius: 5px;
	text-align: center;
	margin-top:5px;
}

header {
	height: 300px;
	width: 100%;
	/*background-color: green;*/
	margin-top: -10px;
	border-radius: 50px;
}

nav {
	height: 100%;
	width: 25%;
	border: 1px solid gray;
	/*background-color: #EEB74D;*/
	/*display: inline-block;*/
	float: left;
}

main {
	/*height: 500px;*/
	width: 43%;
	border: 1px solid gray;
	/*margin-left: 20px;*/
	/*margin-bottom: 400px;*/
	/*display: inline-block;*/
	float: left;
	margin-left: 2%;
	/*overflow-y: scroll;*/
	/*more info here
	https://teamtreehouse.com/forum/when-do-you-use-an-array-versus-a-hash-in-ruby
	*/
	padding-left: 5px;
	padding-right: 5px;
}

aside {
	height: 100%;
	width: 25%;
	border: 1px solid gray;
	/*display: inline-block;*/
	float: left;
	margin-left: 3%;
}

footer {
	width:100%;
	background-color: gray;
	text-align: center;
	clear: both;
	position: relative;
	bottom: 0;
}

img {
	height: 100px;
	width: 100px;
}

.followme {
	height: 50px;
	width: 50px;
}

.background {
	height:100%;
	width: 100%;
	border-radius: 10px;
}

.blogs {
	text-align: left;
}

article {
	font-size: 20px;
	text-align: left;
	height: 100%;
	width: 100%;
		padding-left: 5px;
	padding-right: 5px;
}

pre {
	white-space: pre-wrap;
    background: gray;
    color: orange;
    width: 100%;
    /*text-align: center;*/
    margin: auto;
}

code { 
    background: gray;
    color: orange;
}

section {
	text-align: left;
}